include LICENSE
include README.md
include RELEASE.md
include pyCHX/_version.py
include requirements.txt
include run_tests.py
include test-requirements.txt
include versioneer.py

recursive-include extra/*
