numpy
matplotlib
scipy
lmfit
pillow
tifffile
pyyaml
pandas
attrs
sip
tables
#pyqt4



git+https://github.com/scikit-beam/scikit-beam.gitciki-beam#egg=scikit-beam
git+https://github.com/NSLS-II/databroker#egg=databroker
git+https://github.com/NSLS-II/metadatastore#egg=metadatastore
git+https://github.com/NSLS-II/filestore#egg=filestore
git+https://github.com/yugangzhang/eiger-io.git#eiger-io
git+https://github.com/NSLS-II-CHX/chxtools.git#egg=chxtools
git+https://github.com/Nikea/xray-vision.git#Xray-vision




